        <section class="content container">
            <div class="d-flex justify-content-between align-items-center">
                <section>
                    <p class="mb-0">Thomas JORGE &copy; {{ date|date('Y') }}</p>
                </section>
                <section>
                    <button class="btn btn-outline-light text-nowrap" data-bs-toggle="modal" data-bs-target="#_settings"><i class="fa-solid fa-gear"></i> {{ 'main.settings.button'|trans }}</button>
                </section>
            </div>
        </section>

