        <section class="content container">
{% if app.user.workingOut %}
            <ul class="nav text-center">
                <li class="col-3 my-auto">{# <i class="fa-solid fa-chart-pie fa-lg"></i> #}</li>
                <li class="col-6 my-auto"><button class="button-new-set btn btn-success text-nowrap"><i class="fa-solid fa-plus"></i> {{ 'main.session.set.new'|trans }}</button></li>
                <li class="col-3 my-auto">{# <i class="fa-solid fa-table-list fa-lg"></i> #}</li>
            </ul>
{% else %}
            <ul class="nav text-center">
                <li class="col-4 my-auto"><a class="{% if page is defined and page == 'home' %}text-white{% else %}text-body{% endif %} pointer" href="/"><i class="fa-solid fa-house fa-xl"></i></a></li>
                <li class="col-4 my-auto"><a class="{% if page is defined and (page == 'repertory' or ((page == 'profile' or page == 'sessions' or page == 'session' or page == 'measurements') and athlete != app.user)) %}text-white{% else %}text-body{% endif %} pointer" href="/?search"><i class="fa-solid fa-magnifying-glass fa-xl"></i></a></li>
                <li class="col-4 my-auto"><a href="{{ path('profile', { 'username': app.user.username }) }}"><img id="nav-mobile-picture" width="35px" height="35px" class="profile-picture pointer border p-picture-little{% if page is defined and ((page == 'profile' or page == 'sessions' or page == 'session' or page == 'measurements') and athlete == app.user) %} border-white{% endif %}" src="{% if app.user.picture %}{{ asset(app.user.picture) }}{% else %}{{ asset('images/placeholder-athlete.jpg') }}{% endif %}"></a></li>
            </ul>
{% endif %}
        </section>