                    <aside id="_edit" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <header id="_edit-header" class="modal-header">
                                    <p class="modal-title fs-5">{{ 'main.session.set.edit.title'|trans }}</p>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </header>
                                <main id="_edit-body" class="modal-body">
                                    <form id="_edit-form"></form>
                                </main>
                                <footer id="_edit-footer" class="modal-footer">
                                    <button data-action="click->session#delete" data-bs-dismiss="modal" class="btn btn-outline-danger text-nowrap"><i class="fa-solid fa-trash"></i> {{ 'main.session.set.delete.submit'|trans }}</button>
                                    <button data-action="click->session#edit" data-bs-dismiss="modal" class="btn btn-success text-nowrap"><i class="fa-solid fa-pen-to-square"></i> {{ 'main.session.set.edit.submit'|trans }}</button>
                                </footer>
                            </div>
                        </div>
                    </aside>