@import "~bootstrap/scss/bootstrap";

.authentication > .content, #section-identity {
    max-width: 420px !important;
}

.required:after {
    content:"*";
    color: var(--bs-danger) !important;
}

main.main, footer.main, .modal-body {
    background-color: #1b1f22 !important;
}

.profile-picture {
    border-radius: 50%;
}

#information {
    @media screen and (min-width: 992px) {
        width: 285px;
    }
    .card {
        width: 269px;
        min-width: 269px;
        height: 360px;
        .card-body {
            #section-description {
                height: 140px !important;
            }
        }
    }
}

#description {
    max-width: 640px;
    .card {
        height: 360px;
    }
}

.pointer {
    cursor: pointer;
}

#search {
    outline: none !important;
    box-shadow: none !important;
}

#logo {
    @media screen and (min-width: 768px) {
        width: 133.333px;
    }
}

@media screen and (max-width: 767px) {
    header.main {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: 55px;
    }
    main.main {
        margin-top: 55px;
    }

    footer.main {
        margin-bottom: 55px;
    }
}

.p-picture-little {
    padding: 0.05rem;
}

#nav-mobile {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 55px;
}

#nav-mobile > section.content {  
    padding-inline: 0 !important;
}