@import "~bootstrap/scss/bootstrap";

.authentication {
    .content {
        max-width: 420px !important;
    }
}

.required:after {
    content:"*";
    color: #dc3545 !important;
}

main.main, .modal-body {
    background-color: #1b1f22 !important;
}

.profile-picture {
    border-radius: 50%;
}

#information {
    max-width: 300px;
}
