        <section class="content container">
            <nav class="d-flex align-items-center">
                {# Logo #}<section class="pt-2 pt-md-3">
                    <a href="{{ path('home') }}">
                        <picture class="d-flex justify-content-center align-items-center">
                            <img src="{{ asset('images/Gym-Tracker.png') }}" alt="{{ 'app'|trans }}" width="95%">
                        </picture>
                    </a>
                </section>
            </nav>
        </section>
