        <section class="content container">
            <nav class="d-flex align-items-center">
                {# Logo #}<section>
                    <a href="{{ path('home') }}">
                        <picture>
                            <img src="{{ asset('images/Gym-Tracker.png') }}" alt="{{ 'title'|trans }}" width="100%">
                        </picture>
                    </a>
                </section>
            </nav>
        </section>
