        <section class="content container">
            <nav class="d-flex align-items-center">
                {# Logo #}<section>
                    <a href="{{ path('authentication_login') }}">
                        <picture>
                            <img src="{{ asset('build/images/Gym-Tracker.png') }}" alt="Gym-Tracker" width="100%">
                        </picture>
                    </a>
                </section>
            </nav>
        </section>
